body{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imagem{
    width: 100%;
    height: 100%;
    position: absolute;
}
.imagem img{
    position:relative;
    width: 100%;
    height: 100%;
}
.fundop1{
    height:31px;
    transform: scale(2);
    width:10px;
    position: absolute;
    animation: fundopersonagem1 60s infinite;
}
.personagem1{
    height:21px;
    width:16px;
    background:url("../img/Sprite.png") -0px -11px no-repeat;
    animation: personagem1 60s steps(1) infinite;
}
@keyframes personagem1{
    0%{
        background-position-x: -0px;
        background-position-y: -11px;
    }
    3%{
        background-position-x: -32px;
    }
    4%{
        background-position-x: -16px;
    }
    6%{
        background-position-x: -32px;
    }
    8%{
        background-position-x: -64px;
    }
    10%{
        background-position-x: -80px;
    }
    12%{
        background-position-x: -96px;
    }
    14%{
        background-position-x: -112px;
    }
    16%{
        background-position-x: -128px;
    }
    18%{
        background-position-x: -144px;
    }
    20%{
        background-position-x: -160px;
    }
    22%{
        background-position-x: -176px;
    }
    24%{
        background-position-x: -192px;
    }
    25%{
        background-position-x: -208px;
    }
    26%{
        background-position-x: -224px;
    }
    27%{
        background-position-x: -240px;
    }
    29%{
        background-position-x: -256px;
    }
    31%{
        background-position-x: -272px;
    }
    32%{
        background-position-x: -288px;
    }
    33%{
        background-position-x: -304px;
    }
    34%{
        background-position-x: -320px;
    }
    35%{
        baclground-position-x: -336px;
    }
    36%{
        background-position-x: -352px;
    }
    37%{
        background-position-x: -368px;
    }
    38%{
        background-position-x: -384px;
    }
    39%{
        background-position-x: -400px;
    }
    40%{
        background-position-x: -416px;
    }
    41%{
        background-position-x: -432px;
    }
    42%{
        background-position-x: -448px;
    }
    43%{
        background-position-x: -464px;
    }
    44%{
        background-position-x: -480px;
    }
    45%{
        background-position-x: -496px;
    }
    47%{
        background-position-x: -512px;
    }
    48%{
        background-position-x: -528px;
    }
    50%{
        background-position-x: -544px;
    }
    51%{
        background-position-x: -560px;
    }
    53%{
        background-position-x: -576px;
    }
    54%{
        background-position-x: -592px;
    }
    56%{
        background-position-x: -608px;
    }
    57%{
        background-position-x: -624px;
    }
    58%{
        background-position-x: -640px;
    }
    59%{
        background-position-x: -656px;
    }
    61%{
        background-position-x: -672px;
    }
    63%{
        background-position-x: -688px;
    }
    64%{
        background-position-x: -704px;
    }
    65%{
        background-position-x: -720px;
    }
    66%{
        background-position-x: -736px;
    }
    67%{
        background-position-x: -752px;
    }
    68%{
        background-position-x: -768px;
    }
    70%{
        background-position-x: -784px;
    }
    72%{
        background-position-x: -800px;
    }
    74%{
        background-position-x: -816px;
    }
    78%{
        background-position-x: -832px;
    }
    79%{
        background-position-x: -848px;
    }
    80%{
        background-position-x: -864px;
    }
    81%{
        background-position-x: -880px;
    }
    83%{
        background-position-x: -896px;
    }
    85%{
        background-position-x: -912px;
    }
    86%{
        background-position-x: -928px;
    }
    87%{
        background-position-x: -944px;
    }
    88%{
        background-position-x: -960px;
    }
    89%{
        background-position-x: -976px;
    }
    90%{
        background-position-x: -992px;
    }
    92%{
        background-position-x: -1008px;
    }
    93%{
        background-position-x: -1024px;
    }
    94%{
        background-position-x: -1040px;
    }
    95%{
        background-position-x: -1056px;
    }
    96%{
        background-position-x: -1072px;
    }
    97%{
        background-position-x: -1088px;
    }
    100%{
        background-position-x: -1104px;
    }
    
}


@keyframes fundopersonagem1{
    0% {
        top: 100px;
        left: 175px;
    }
    4% {
        top: 100px;
        left: 175px;
    }   
    8%{
        top: 295px;
        left: 190px;
    }
    12%{
        top: 295px;
        left: 420px;
    }
    16%{
        top: 310px;
        left: 450px;
    }
    20%{
        top: 360px;
        left: 460px;
    }
    24%{
        top: 360px;
        left: 550px;
    }
    28%{
        top: 400px;
        left: 550px;
    }
    32%{
        top: 400px;
        left: 730px;
    }
    36%{
        top: 250px;
        left: 730px;
    }
    40%{
        top: 250px;
        left: 930px;
    }
    44%{
        top: 250px;
        left: 740px;
    }
    48%{
        top: 400px;
        left: 740px;
    }
    52%{
        top: 650px;
        left: 740px;
    }
    56%{
        top: 720px;
        left: 760px;
    }
    60%{
        top: 720px;
        left: 680px;
    }
    64%{
        top: 875px;
        left: 660px;
    }
    68%{
        top: 875px;
        left: 375px;
    }
    72%{
        top: 650px;
        left: 375px;
    }
    80%{
        top: 875px;
        left: 375px;
    }
    84%{
        top: 875px;
        left: 1260px;
    }
    87.2%{
        top: 440px;
        left: 1260px;
    }
    90.4%{
        top: 440px;
        left: 1490px;
    }
    93.6%{
        top: 260px;
        left: 1490px;
    }
    96.8%{
        top: 260px;
        left: 950px;
    }
    100%{
        top: 0px;
        left: 950px;
    }
}
.fundop2{
    height:58px;
    transform: scale(2);
    width:136px;
    position: absolute;
    animation: fundopersonagem2 60s infinite;
}
.personagem2{
    height:200px;
    width:136px;
    transform: scale(0.5);
    background:url("../img/Charizard.png") -0px -9px no-repeat;
    animation: personagem2 60s steps(1) infinite;
}   

@keyframes personagem2{
    0%{
        background-position-x: -0px;
    }
    1.5%{
        background-position-x: -138px;
    }
    3%{
        background-position-x: -275px;
        background-position-y: 2px;
    }
    4.5%{
        background-position-x: -414px;
        background-position-y: -0px;
    }

    6%{
        background-position-x: -547px;
    }    
    12.5%{
        background-position-x: -686px;
    }
    14%{
        background-position-x: -825px;
    }
    15.5%{
        background-position-x: -961px;
    }
    25%{
        background-position-x: -1098px;
        background-position-y: 2px;
    }
    26.5%{
        background-position-x: -1236px;
        background-position-y: 0px;
    }
    28%{
        background-position-x: -1375px;
    }
    29.5%{
        background-position-x: -1512px;
    }
    37.5%{
        background-position-x: -1648px;
    }
    39%{
        background-position-x: -1786px;
    }
    40.5%{
        background-position-x: -1922px;
    }
    42%{
        background-position-x: -2062px;
    }
    50%{
        background-position-x: -2200px;
    }
    51.5%{
        background-position-x: -2335px;
    }
    53%{
        background-position-x: -2476px;
    }
    54.5%{
        background-position-x: -2613px;
    }
    62.5%{
        background-position-x: -2749px;
    }
    64%{
        background-position-x: -2886px;
    }
    65.5%{
        background-position-x: -3023px;
    }
    67%{
        background-position-x: -3161px;
    }
    74%{
        background-position-x: -3297px;
    }
    75%{
        background-position-x: -3424px;
    }
    90%{
        background-position-x: -3297px;
    }


}

@keyframes fundopersonagem2{
    0%{
    top: 470px;
    left: 300px;
    }
    12.5%{
    top: 470px;
    left: 500px;
    }
    25%{
    top: 470px;
    left: 300px;
    }
    37.5%{
    top: 470px;
    left: 500px;
    }
    50%{
    top: 470px;
    left: 300px;
    }
    62.5%{
    top: 470px;
    left: 390px;
    }
    75%{
    top: 470px;
    left: 300px;
    }
    80%{
    top: 690px;
    left: 300px;
    }
    84%{
    top: 675px;
    left: 960px;
    }
    87.2%{
    top: 540px;
    left: 1160px;
    }
    90.4%{
    top: 540px;
    left: 1490px;
    }
    93.6%{
    top: 360px;
    left: 1490px;
    }
    96.8%{
    top: 260px;
    left: 1050px;
    }
    100%{
    top: 100px;
    left: 950px;
    }
}
